{% extends "_resources/layouts/default.twig" %}


{% block content %}
    <section>
        {% include "_resources/partials/hero.twig" %}
    </section>
    <section class="section">
        {% include "_resources/partials/services.twig" %}
    </section>
    <section>
        {%  include "_resources/partials/aboutUs.twig" %}
    </section>
    {%  include "_resources/partials/footer.twig" %}
{% endblock %}