{% extends "_resources/layouts/default.twig" %}

{% block content %}
    <section>
        {% include "_resources/partials/hero.twig" %}
        {% include "_resources/partials/videoPlayer.twig" %}
    </section>
{% endblock %}