.player-container {
    padding: 50px;

    .botonVolver {
        margin-bottom: 20px;
        text-align: center;

        a {
            color: black;

            span {
                margin-right: 2px;
                display: block;
            }

            &:hover {
                color: red;
                span {
                    margin-right: 5px;
                }
            }
        }
    }
    .player-wrapper {
        position: relative;
        padding-top: 100%;
        &.res-16by9 {
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
