<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, test">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.min.css">
    {% include "includes/favicon.twig" %}

</head>
<body>
    {% block content %}
    {% endblock %}
    <!-- Scripts -->
    <script src="/js/app.min.js"></script>
</body>
</html>