<div class="has-background-black">
    <div class="section about">
        <div class="esteban-data">
            <h2>Abouts Us<span>.</span></h2>
            <p>Somos un equipo ágil y preparado para resolver cualquier situación, creamos, proponemos, y hacemos lo necesario para que cada proyecto sea la mejor versión de sí mismo.</p>
            <p>Contamos con más de 20 años de experiencia en la producción técnica de eventos en vivo y grabaciones. <span>Esteban Varela</span>, founder de NZTStudios, lidera personalmente cada proyecto, garantizando así, el resultado.</p>
            <p>Tenemos el mejor equipamiento disponible, pero somos versátiles para adaptarnos a la medida de cada proyecto.</p>
            <div class="partners">
                <div class="partner-wrapper">
                    <a href="https://vimeo.com/es/">
                        <img src="../../../images/vimeo.png" alt="vimeo">
                    </a>
                </div>
                <div class="partner-wrapper">
                    <a href="https://www.wowza.com/">
                        <img src="../../../images/wowza.png" alt="wowza">
                    </a>
                </div>
                <div class="partner-wrapper">
                    <a href="https://masvivo.tv/">
                        <img src="../../../images/masvivo.png" alt="masvivo">
                    </a>
                </div>
                <div class="partner-wrapper">
                    <a href="https://www.telestream.net/wirecast/">
                        <img src="../../../images/wirecast.png" alt="wirecast">
                    </a>
                </div>
            </div>
        </div>
        <div class="esteban-img">
            <img src="../../../images/esteban.png" alt="estebanVarela">
        </div>
    </div>
</div>