<div class="form-container">
    <form class="form">
        <label for="Email">Nombre</label>
        <input type="email" id="Email" aria-describedby="emailHelp">
        <label for="Password">Password</label>
        <input type="password" id="Password">
        <button type="submit">Ingresar</button>
    </form>
</div>