<div class="container">
    <div class="services-wrapper">
        <div class="img-service flecha right img-streaming">
            <div class="flecha-inner right">
                <img src="../../../images/stream.jpg">
            </div>
        </div>
        <div class="data-service streaming">
            <h2>Streaming</h2>
            <p>Producción técnica para transmisión de eventos en vivo y grabados.</p>
        </div>
        <div class="data-service recording">
            <h2>Recording</h2>
            <p>Montaje para grabación de eventos, o transmisión en vivo.</p>
        </div>
        <div class="img-service flecha left img-recording">
            <div class="flecha-inner left">
                <img src="../../../images/cam.jpg">
            </div>
        </div>
        <div class="img-service flecha right img-postpo">
            <div class="flecha-inner right">
                <img src="../../../images/postpo.jpg">
            </div>
        </div>
        <div class="data-service postpo">
            <h2>Post-production</h2>
            <p>Edición de audio y video para eventos en vivo o grabados.</p>
        </div>
    </div>
</div>